<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-xs="20" class="pr-16">
        <div class="pb-16">
            <mat-form-field class="full-width">
                <mat-label>University / College / Institution / School</mat-label>
                <input matInput placeholder="Abc, university" name="university" [(ngModel)]="educational.university"
                    [formControl]="$any(inputFormGroup.controls.university)">
            </mat-form-field>
            <small
                *ngIf="inputFormGroup.controls['university'].hasError('required') && inputFormGroup.controls['university'].touched"
                class="form-error-msg"> University is required </small>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="20" class="pr-16">
        <div class="pb-16">
            <mat-form-field class="full-width">
                <mat-label>Year of Completion</mat-label>
                <input matInput placeholder="2010" name="completionYear" [(ngModel)]="educational.completionYear"
                    [formControl]="$any(inputFormGroup.controls.completionYear)">
            </mat-form-field>
            <small
                *ngIf="inputFormGroup.controls['completionYear'].hasError('required') && inputFormGroup.controls['completionYear'].touched"
                class="form-error-msg"> Year of Completion is required </small>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="20" class="pr-16">
        <div class="pb-16">
            <mat-form-field class="full-width">
                <mat-label>Program</mat-label>
                <input matInput placeholder="Full time" name="program" [(ngModel)]="educational.program"
                    [formControl]="$any(inputFormGroup.controls.program)">
            </mat-form-field>
            <small
                *ngIf="inputFormGroup.controls['program'].hasError('required') && inputFormGroup.controls['program'].touched"
                class="form-error-msg"> Program is required </small>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="20" class="pr-16">
        <div class="pb-16">
            <mat-form-field class="full-width">
                <mat-label>Aggregate %</mat-label>
                <input matInput placeholder="76%" name="aggregate" [(ngModel)]="educational.aggregate"
                    [formControl]="$any(inputFormGroup.controls.aggregate)">
            </mat-form-field>
            <small
                *ngIf="inputFormGroup.controls['aggregate'].hasError('required') && inputFormGroup.controls['aggregate'].touched"
                class="form-error-msg"> Aggregate is required </small>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="20" class="pr-16">
        <div class="pb-16">
            <mat-form-field class="full-width">
                <mat-label>Grade</mat-label>
                <input matInput placeholder="A+" name="grade" [(ngModel)]="educational.grade"
                    [formControl]="$any(inputFormGroup.controls.grade)">
            </mat-form-field>
            <small
                *ngIf="inputFormGroup.controls['grade'].hasError('required') && inputFormGroup.controls['grade'].touched"
                class="form-error-msg"> Grade is required </small>
        </div>
    </div>
</div>