<mat-card class="p-0">
  <mat-card-content>
    <form [formGroup]="basicForm" (ngSubmit)="onBasicSubmit()">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-xs="25" class="pr-16">
          <div class="pb-16">
            <div class="avatar-upload">
              <div class="avatar-edit">
                <input type='file' formControlName="profilePictureFile" name="profilePictureFile"
                  [ngModel]="basicInfo.profilePictureFile" id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                  (change)="uploadFile($event)" />
              </div>
              <div class="avatar-preview ">
                <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
                </div>
              </div>
              <mat-divider class="pt-16"></mat-divider>
              <button type="submit" mat-raised-button color="primary" (click)="fileInput.click()">Upload
                Image</button>
            </div>
            <small
              *ngIf="basicForm.controls['profilePictureFile'].hasError('required') && basicForm.controls['profilePictureFile'].touched"
              class="form-error-msg"> Profile picture is required </small>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="75" class="pr-16">
          <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="33" class="pr-16">
              <div class="pb-16">
                <mat-form-field class="full-width">
                  <mat-label>First Name</mat-label>
                  <input matInput placeholder="Steve" formControlName="firstName" name="firstName"
                    [(ngModel)]="basicInfo.firstName" value="">
                </mat-form-field>
                <small
                  *ngIf="basicForm.controls['firstName'].hasError('required') && basicForm.controls['firstName'].touched"
                  class="form-error-msg"> First name is required </small>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="33" class="pr-16">
              <div class="pb-16">
                <mat-form-field class="full-width">
                  <mat-label>Middle Name</mat-label>
                  <input matInput formControlName="middleName" name="middleName" [(ngModel)]="basicInfo.middleName"
                    placeholder="Rogers" value="">
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="33" class="pr-16">
              <div class="pb-16">
                <mat-form-field class="full-width">
                  <mat-label>Last Name</mat-label>
                  <input matInput placeholder="Last name" formControlName="lastName" name="lastName"
                    [(ngModel)]="basicInfo.lastName" value="">
                </mat-form-field>
                <small
                  *ngIf="basicForm.controls['lastName'].hasError('required') && basicForm.controls['lastName'].touched"
                  class="form-error-msg"> Last name is required </small>
              </div>
            </div>
          </div>
          <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="33" class="pr-16">
              <div class="pb-18">
                <mat-form-field class="full-width">
                  <input matInput name="dob" formControlName="dob" [ngModel]="basicInfo.dob" placeholder="Date of Birth"
                    [matDatepicker]="appDatepicker">
                  <mat-datepicker-toggle matSuffix [for]="appDatepicker"></mat-datepicker-toggle>
                </mat-form-field>
                <mat-datepicker #appDatepicker></mat-datepicker>
                <small *ngIf="basicForm.controls['dob'].hasError('required') && basicForm.controls['dob'].touched"
                  class="form-error-msg"> Date of birth is required </small>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="33" class="pr-16">
              <div class="pb-16">
                <mat-form-field class="full-width">
                  <mat-label>PAN Number</mat-label>
                  <input matInput placeholder="GMSPM14141M" formControlName="panNumber" name="panNumber"
                    [(ngModel)]="basicInfo.panNumber" value="">
                </mat-form-field>
                <small
                  *ngIf="basicForm.controls['panNumber'].hasError('required') && basicForm.controls['panNumber'].touched"
                  class="form-error-msg"> PAN number is required </small>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="33" class="pr-16">
              <div class="pb-16">
                <mat-form-field class="full-width">
                  <mat-label *ngIf="PANFile; else panFileTemplate">{{PANFile.name}}</mat-label>
                  <ng-template #panFileTemplate>
                    <mat-label>PAN File</mat-label>
                  </ng-template>
                  <input matInput disabled name="panFile" formControlName="panFile" [ngModel]="basicInfo.panFile">
                  <button mat-icon-button matSuffix (click)="inputPANfile.click()">
                    <mat-icon class="material-icons">attach_file</mat-icon>
                  </button>
                  <input hidden (change)="onSelectPANFile($event)" #inputPANfile type="file" id="file" accept=".pdf"
                    name="panFile" formControlName="panFile" [ngModel]="basicInfo.panFile">
                </mat-form-field>
                <small
                  *ngIf="basicForm.controls['panFile'].hasError('required') && basicForm.controls['panFile'].touched"
                  class="form-error-msg"> PAN file is required </small>
              </div>
            </div>
          </div>
          <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="33" class="pr-16">
              <div class="pb-16">
                <mat-form-field class="full-width">
                  <mat-label>Aadhar Name</mat-label>
                  <input matInput placeholder="As per Aadhar" formControlName="aadhaarName" name="aadhaarName"
                    [(ngModel)]="basicInfo.aadhaarName" value="">
                </mat-form-field>
                <small
                  *ngIf="basicForm.controls['aadhaarName'].hasError('required') && basicForm.controls['aadhaarName'].touched"
                  class="form-error-msg"> Aadhar name is required </small>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="33" class="pr-16">
              <div class="pb-16">
                <mat-form-field class="full-width">
                  <mat-label>Aadhar Number</mat-label>
                  <input matInput placeholder="0987 7654 9876" formControlName="aadhaarNumber" name="aadhaarNumber"
                    [(ngModel)]="basicInfo.aadhaarNumber" value="">
                </mat-form-field>
                <small
                  *ngIf="basicForm.controls['aadhaarNumber'].hasError('required') && basicForm.controls['aadhaarNumber'].touched"
                  class="form-error-msg"> Aadhar number is required </small>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="33" class="pr-16">
              <div class="pb-16">
                <mat-form-field class="full-width">
                  <mat-label *ngIf="aadhaarFile; else aadhaarFileTemplate">{{aadhaarFile.name}}</mat-label>
                  <ng-template #aadhaarFileTemplate>
                    <mat-label>Aadhar File</mat-label>
                  </ng-template>
                  <input matInput disabled formControlName="aadhaarFile" name="aadhaarFile"
                    [ngModel]="basicInfo.aadhaarFile">
                  <button mat-icon-button matSuffix (click)="aadhaarFilefileInput.click()">
                    <mat-icon class="material-icons">attach_file</mat-icon>
                  </button>
                  <input hidden (change)="onSelectAadhaarFile($event)" #aadhaarFilefileInput accept=".pdf" type="file"
                    id="file" formControlName="aadhaarFile" name="aadhaarFile" [ngModel]="basicInfo.aadhaarFile">
                </mat-form-field>
                <small
                  *ngIf="basicForm.controls['aadhaarFile'].hasError('required') && basicForm.controls['aadhaarFile'].touched"
                  class="form-error-msg"> Aadhaar file is required </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row wrap">
        <div fxFlex="100%" fxFlex.gt-xs="20%" class="pr-8">
          <mat-button-toggle-group #group="matButtonToggleGroup" value="Father">
            <mat-button-toggle value="Father" aria-label="Text align left">
              Father
            </mat-button-toggle>
            <mat-button-toggle value="Husband" aria-label="Text align center">
              Husband
            </mat-button-toggle>
            <mat-button-toggle value="Guardian" aria-label="Text align right">
              Guardian
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div fxFlex="100%" fxFlex.gt-xs="20%" class="pr-16">
          <mat-form-field class="full-width">
            <mat-label>{{group.value}} Name</mat-label>
            <input matInput placeholder="" formControlName="guardianName" name="guardianName"
              [(ngModel)]="basicInfo.guardianName" value="">
          </mat-form-field>
          <small
            *ngIf="basicForm.controls['guardianName'].hasError('required') && basicForm.controls['guardianName'].touched"
            class="form-error-msg"> {{group.value}} Name is required </small>
        </div>
        <div fxFlex="100%" fxFlex.gt-xs="20%" class="pr-16">
          <div class="pb-16">
            <mat-form-field class="full-width">
              <mat-label>Nationality</mat-label>
              <input matInput placeholder="Indian" formControlName="nationality" name="nationality"
                [(ngModel)]="basicInfo.nationality" value="">
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-xs="20%" class="pr-16">
          <div class="pb-16">
            <mat-form-field class="full-width">
              <mat-label>Passport Number</mat-label>
              <input matInput placeholder="0987 7654 9876" formControlName="passportNumber" name="passportNumber"
                [(ngModel)]="basicInfo.passportNumber" value="">
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-xs="20%" class="pr-16">
          <div class="pb-16">
            <mat-form-field class="full-width">
              <mat-label>Any valid Visa</mat-label>
              <input matInput placeholder="" formControlName="validVisaInformation" name="validVisaInformation"
                [(ngModel)]="basicInfo.validVisaInformation" value="">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxLayout="row wrap">
        <button mat-raised-button color="primary" type="submit" matStepperNext>Save & Continue</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>